{{> header }}

<main class='cart-container'>
  <section class='cart-items'>
    {{#each products}}
      <div class='cart-item'>
        <div class='cart-item-img'>
          <img src='{{thumbnail}}' alt='Photo' />
        </div>
        <div class='cart-item-info'>
          <div class='cart-item-title'>{{title}}</div>
          <div class='cart-item-ctas'>
            <button class='cart-item-delete-btn btn main-font-bold transition'>REMOVE</button>
          </div>
        </div>
        <div class='cart-item-quantity'>
          <div class='cart-item-quantity-counter'>
            <i class='fa-solid fa-plus'></i>
            <div class='cart-item-quantity-counter-number'>
              {{quantity}}
            </div>
            <i class='fa-solid fa-minus'></i>
          </div>
          <div class='cart-item-quantity-stock'>{{stock}} Offers</div>
        </div>
        <div class='cart-item-totalprice'>$ {{price}}</div>
      </div>
    {{/each}}
  </section>
  <section class='cart-summary'>
    <div class='cart-summary-card'>
      <h2 class='cart-summary-title'>
        Purchase summary
      </h2>
      <div class='cart-summary-info'>
        <div class='cart-summary-info-tag'>
          Products ({{products_in_cart}})
        </div>
        <div class='cart-summary-info-tag'>
          $
          {{totalPurchase}}
        </div>
      </div>
      <div class='cart-summary-info'>
        <div class='cart-summary-info-tag'>
          Shipping
        </div>
        <div class='cart-summary-info-tag'>
          $ 0
        </div>
      </div>
      <div class='cart-summary-info main-font-bold'>
        <div class='cart-summary-info-tag'>
          Total
        </div>
        <div class='cart-summary-info-tag'>
          $
          {{totalPurchase}}
        </div>
      </div>
      <div class='cart-summary-cta'>
        <form action="/purchase">
          <button class='cart-summary-purchase-btn btn main-font-bold transition' type="submit">PURCHASE</button>
        </form>
      </div>
    </div>
  </section>
</main>

<script src='/js/cart.js'></script>