<div class='{{baseClass}}-header'>
  <h1 style='padding: 16px;'>Products</h1>
  <div class='{{baseClass}}-profile-banner'>
    {{user}}
  </div>
</div>

<section class='home' style=''>
  <div class='row justify-content-end pr-4 pt-2'>
    {{#if hasPrevPage}}
      <a href='{{prevPage}}'>Prev</a>
    {{/if}}
    <div class='px-3'>
      {{page}}/{{totalPages}}
    </div>
    {{#if hasNextPage}}
      <a href='{{nextPage}}'>Next</a>
    {{/if}}
  </div>
  <div class='container py-5'>
    {{#each products}}
      <div class='row justify-content-center mb-3' id='product-{{_id}}'>
        <div class='col-md-12 col-xl-10'>
          <div class='card shadow-0 border rounded-3'>
            <div class='card-body'>
              <div class='row'>
                <div class='col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0'>
                  <div class='bg-image hover-zoom ripple rounded ripple-surface'>
                    <img src='{{thumbnail}}' class='w-100' />
                    <a href='#!'>
                      <div class='hover-overlay'>
                        <div class='mask' style='background-color: rgba(253, 253, 253, 0.15);'></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class='col-md-6 col-lg-6 col-xl-6'>
                  <h5>{{title}}</h5>
                  <div class='d-flex flex-row'>
                    <span>{{stock}} Stock left</span>
                  </div>
                  <div class='mt-1 mb-0 text-muted small'>
                    <span>{{category}}</span>
                  </div>
                  <p class='text-truncate mb-4 mb-md-0'>
                    {{description}}
                  </p>
                </div>
                <div class='col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start'>
                  <div class='d-flex flex-row align-items-center mb-1'>
                    <h4 class='mb-1 me-1'>${{price}}</h4>
                  </div>
                  <h6 class='text-success'>Free shipping</h6>
                  <div class='d-flex flex-column mt-4'>
                    <button class='btn btn-primary btn-sm' type='button'>Details</button>
                    <button class='btn btn-outline-primary btn-sm mt-2' type='button'>
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>

<script src='/js/products.js'></script>