<div class='{{baseClass}}-panel'>
  <div class='{{baseClass}}-main-panel'>
    <div class='{{baseClass}}-container'>
      <h1 class='{{baseClass}}-title'>JUST BUY IT.</h1>
      <form action='/api/auth/login' method='post' id='form-{{baseClass}}'>
        <div class='{{baseClass}}-input-component'>
          <div class='{{baseClass}}-input-label'>EMAIL</div>
          <input class='{{baseClass}}-input-text jost-font-bold' type='email' name='email' id='email' placeholder='foo@bar.com' />
        </div>
        <div class='{{baseClass}}-input-component'>
          <div class='{{baseClass}}-input-label'>PASSWORD</div>
          <input class='{{baseClass}}-input-text jost-font-bold' type='password' name='password' id='password' placeholder='Your Password' />
        </div>
        <button type='submit' class='{{baseClass}}-btn jost-font-bold'>LOG IN</button>
      </form>
      <div class='{{baseClass}}-form-footer'>
        <a href='/reset/password'>FORGOT PASSWORD?</a>
        <a href='/signup'>SIGN UP</a>
      </div>
      <div class='visual-component divider'>
        <div class='visual-component middle-line'>
          <span class='visual-component line'></span>
        </div>
        <div class='visual-component text-box'>
          <span class='visual-component text'>OR CONTINUE WITH</span>
        </div>
      </div>
      <div class='{{baseClass}}-cta-component'>
        <button class='{{baseClass}}-btn negative-btn jost-font-bold' onclick="window.location.href='/api/auth/github';">
          <i class='fa-brands fa-github'></i>
          GITHUB
        </button>
        <button class='{{baseClass}}-btn negative-btn jost-font-bold' onclick="window.location.href='/api/auth/google';">
          <i class='fa-brands fa-google'></i>
          GOOGLE
        </button>
      </div>
    </div>
  </div>

  <div class='{{baseClass}}-side-panel'>
    <div class='{{baseClass}}-dumb-quote'>
      "Dont think twice. Just buy it."
      <br />
      <span>
        - Nicolas Cinzer
      </span>
    </div>
  </div>
</div>