<form action='/api/auth/login' method='post' id='form-{{baseClass}}'>
  <div class='{{baseClass}}-container'>
    <h1>LOGIN</h1>
    <div class='{{baseClass}}-input-component'>
      <div class='{{baseClass}}-input-label'>Email:</div>
      <input class='{{baseClass}}-input-text' type='email' name='email' id='email' />
    </div>
    <div class='{{baseClass}}-input-component'>
      <div class='{{baseClass}}-input-label'>Password:</div>
      <input class='{{baseClass}}-input-text' type='password' name='password' id='password' />
    </div>
    <div class='{{baseClass}}-btn-component'>
      <button type='submit'>Login</button>
    </div>
  </div>
</form>

<button><a href='/resetPassword'>Forgot Password?</a></button>
<button><a href='/signup'>Doesnt have an account?</a></button>
<button><a href='/api/auth/auth/github'>GITHUB</a></button>
<button><a href='/api/auth/auth/google'>GOOGLE</a></button>