<div class='{{baseClass}}-panel'>
  <div class='{{baseClass}}-main-panel'>
    <div class='{{baseClass}}-container'>
      {{#if error}}
        <h1 class='{{baseClass}}-title'>JUST OOPS IT.</h1>
        <div class='{{baseClass}}-error-component'>
          <div class='{{baseClass}}-subtitle {{baseClass}}-error-msg'>Password reset has expired!</div>
          <button class='{{baseClass}}-btn main-font-bold transition' onclick='window.location.href="/login"'>GO TO LOG IN</button>
        </div>
      {{else}}
        <h1 class='{{baseClass}}-title'>JUST RESET IT.</h1>
        <div class='{{baseClass}}-subtitle'>Enter your new password. As soon as sumbitted, we redirect you to log in.</div>
        <form action='/api/auth/reset?token={{token}}' method='post' id='form-{{baseClass}}'>
          <div class='{{baseClass}}-input-component'>
            <div class='{{baseClass}}-input-label'>NEW PASSWORD</div>
            <input class='{{baseClass}}-input-text main-font-bold' type='password' name='password' id='password' placeholder='Your new password' />
          </div>
          <button disabled type='submit' class='{{baseClass}}-btn main-font-bold transition' id='resetPasswordBtn'>RESET PASSWORD</button>
        </form>
      {{/if}}
    </div>
  </div>

  <div class='{{baseClass}}-side-panel'>
    <div class='{{baseClass}}-dumb-quote'>
      "Resetting password? Just don't forget it."
      <br />
      <span>
        - Nicolas Cinzer
      </span>
    </div>
  </div>
</div>

<script src='/js/resetPassword.js'></script>