<form action='/api/sessions/resetPassword' method='post' id='form-{{baseClass}}'>
  <div class='{{baseClass}}-container'>
    <h1>RESET PASSWORD</h1>
    <div class='{{baseClass}}-input-component'>
      <div class='{{baseClass}}-input-label'>Email:</div>
      <input class='{{baseClass}}-input-text' type='email' name='email' id='email' />
    </div>
    <div class='{{baseClass}}-input-component'>
      <div class='{{baseClass}}-input-label'>New Password:</div>
      <input class='{{baseClass}}-input-text' type='password' name='password' id='password' />
    </div>
    <div class='{{baseClass}}-btn-component'>
      <button type='submit'>Confirm</button>
    </div>
  </div>
</form>