<div class='{{baseClass}}-panel'>
  <div class='{{baseClass}}-main-panel'>
    <div class='{{baseClass}}-container'>
      <h1 class='{{baseClass}}-title'>JUST RESET IT.</h1>
      <div class='{{baseClass}}-subtitle'>To reset your password, enter your email below and submit. An email will be sent to you with instructions
        about how to complete the process.</div>
      <form action='/api/auth/sendReset' method='post' id='form-{{baseClass}}'>
        <div class='{{baseClass}}-input-component'>
          <div class='{{baseClass}}-input-label'>EMAIL</div>
          <input class='{{baseClass}}-input-text jost-font-bold' type='email' name='email' id='email' placeholder='foo@bar.com' />
        </div>
        <button disabled type='submit' class='{{baseClass}}-btn jost-font-bold' id='resetPasswordBtn'>RESET PASSWORD</button>
      </form>
    </div>
  </div>

  <div class='{{baseClass}}-side-panel'>
    <div class='{{baseClass}}-dumb-quote'>
      "Forgot password? Dont worry. Just reset it."
      <br />
      <span>
        - Nicolas Cinzer
      </span>
    </div>
  </div>
</div>

<script src='/js/resetPassword.js'></script>